@(gameState: GameTypes.GameState)

@import tags._

@main(s"GameState after init") {
    @for(key <- gameState.playerMap.keys){
        @defining(gameState.playerMap(key)){ playerState =>
            <div class="panel panel-default col-lg-2">
                <div class="panel-heading">
                    <h3 class="panel-title">@logo(playerState.pCompany.company) @key </h3>
                </div>
                <div class="panel-body">
                     @stage(playerState.pCompanyStage) - @fund(playerState.pFunds) - @neigh(playerState.pNeighborhood)

                </div>
                <ul class="list-group">
                @for(c <- playerState.pCards) {
                    <li class="list-group-item">@card(c) @c</li>
                }
                </ul>
            </div>
        }

    }
    <hr/>
}

